backend:
  name: git-gateway
  branch: main
  publish_mode: editorial_workflow

media_folder: 'static/uploads'
public_folder: '/uploads'

collections:
  - name: home
    label: Home Page
    files:
      - name: 'hero'
        label: 'Hero'
        file: src/data/home/hero.json
        media_library:
          folder_support: true
        fields:
          - name: title
            label: Title
            widget: string
          - name: description
            label: Description
            widget: string
          - name: btnUrl
            label: Button URL
            widget: string
          - name: btnText
            label: Button Text
            widget: string
          - name: img
            label: Featured Photo
            widget: image
      - name: 'event'
        label: 'Event'
        file: src/data/home/event.json
        media_library:
          folder_support: true
        fields:
          - name: title
            label: Title
            widget: string
          - name: desc
            label: Description
            widget: string
          - name: btnText
            label: Button Text
            widget: string
          - name: img
            label: Featured Photo
            widget: image
      - name: 'story'
        label: 'Story'
        file: src/data/home/story.json
        media_library:
          folder_support: true
        fields:
          - name: title
            label: Title
            widget: string
          - name: supTitle
            label: Super Title
            widget: string

  - label: 'Story Cards'
    name: 'storyCards'
    folder: 'src/data/home/story'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{hour}}-{{minute}}-{{second}}'
    fields:
      - { label: 'Featured Image', name: 'imgUrl', widget: 'image' }
      - { label: 'Poster Title', name: 'posterTitle', widget: 'string' }
      - { label: 'Poster Description', name: 'posterDesc', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }

  - name: about
    label: About Page
    files:
      - name: about
        label: About Page
        file: src/data/about/about.json
        media_library:
          folder_support: true
        fields:
          - name: title
            label: Title
            widget: string
          - name: description
            label: Description
            widget: string
          - name: bgColor
            label: Background Color
            widget: string
          - name: bgImg
            label: Background Image
            widget: image
          # - name: intro
          #   label: Intro
          #   widget: markdown

          # - name: team
          #   label: Team
          #   widget: list
          #   fields:
          #     - name: name
          #       label: Name
          #       widget: string
          #     - name: position
          #       label: Position
          #       widget: string
          #     - name: photo
          #       label: Photo
          #       widget: image
  - name: church
    label: Church Page
    files:
      - name: church
        label: Church Page
        file: src/data/church/church.json
        media_library:
          folder_support: true
        fields:
          - name: imgUrl
            label: Image URL
            widget: image
          - name: text
            label: Text
            widget: string
          - name: playlistId
            label: Playlist ID
            widget: string

  - name: 'events' # Used in routes, e.g., /admin/collections/blog
    label: 'Events' # Used in the UI
    folder: 'src/data/events' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'event' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      # - {label: "Publish Date", name: "date", widget: "datetime"}
      - { label: 'Featured Image', name: 'thumbnail', widget: 'image' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Published', name: 'published', widget: 'boolean', default: true }

      # - {label: "Rating (scale of 1-5)", name: "rating", widget: "number"}
  - name: auth
    label: Authentication
    files:
      - name: api
        label: API Keys
        file: src/data/auth/key.json
        fields:
          - name: API_KEY
            label: API KEY
            widget: string
